@charset "utf-8";
/* CSS Document */
.container{
    margin: 0 auto;
    text-align: center;
    width: 100%;
    height:100%;
    min-height: 600px;
    position: relative;
   }
.loginBox{
    position: fixed;
    width:393px ;
    height:500px ;
    top:100px;
    left:595px;
    z-index: 9999;
    border: #ebebeb solid 1px;
    background: #ffffff;
    box-shadow: 0 0 10px #ddd;
    display: none;
}/*登录框*/
.login-head{
    width: 100%;
    height: 45px;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    border-bottom: 0;
}/*登录框顶部*/
.closeLogin{
    float: right;
    line-height: 45px;
    font-size: 18px;
    font-weight: 700;
    margin-right: 3px;
    cursor: pointer;
}/*关闭*/
.login-form{
    width: 100%;
    height: 365px;
    border-bottom: 1px solid #cccccc;
}/*登录表单*/
.lo-tit{
    width: 350px;
    height: 40px;
    margin: 5px auto;
    text-align: right;
    font-size: 12px;
    line-height: 40px;
}
#tips{
    color: red;
    float: left;
}
.login-input{
    width:350px;
    height:40px ;
    margin: 10px auto;
    border: 1px solid #cccccc;
    text-align: center;
    padding: 2px;
    background-color: #FFF68A;
}
.login-input label{
    top: 8px;
    left: 6px;
    width: 24px;
    height: 24px;
    padding: 0 0 0 24px;
    position: relative;
}
.use-lab{
    background: url("../img/user.png") no-repeat ;
}
.pass-lab{
    background: url("../img/password.png") no-repeat ;
}
.login-input input{
    width:260px ;
    height:auto ;
    margin: 10px auto;
    border:none ;
    background-color: #FFF68A;
}
.verifyBox{
    width:350px;
    height:40px ;
    margin: 10px auto;
    text-align: center;
    padding: 2px;
    position: relative;
}/*验证码框*/
.verify-input{
    width: 190px;
    height: 40px;
    border: 1px solid #cccccc;
    background-color: #FFFFFF;
    float: left;
}/*验证码框*/
.verify-input input{
    width:180px ;
    height:auto ;
    margin: 10px auto;
    border:none ;
    background-color: #FFFFFF;
}/*验证码输入框*/
.gaimage{
    width: 100px;
    height: 40px;
    border: 1px solid #cccccc;
    background:url("../img/genimage.png");
    float: left;
    margin-left: 10px;
}/*验证码框*/
.verifyBox p{
    font-size: 12px;
    color: #2e7fdb;
    cursor: pointer;
}
.check-input{
    width: 350px;
    height: 20px;
    font-size: 12px;
    margin: 10px auto;
}
.check-input input,label{
    float: left;
    line-height: 20px;
}
.check-input a{
    color:#2e7fdb;
    float: right;
    line-height: 20px;
}
.login-btn{
    width: 350px;
    margin: 0 auto;
}/*登录*/
.login-btn input{
    width: 350px;
    height: 48px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    color: #fff;
    background-color:#3f89ec;
    border: 0;
    border-radius: 5px;
}/*登录*/
.login-btn p{
    float: right;
    font-size: 12px;
    cursor: pointer;
    color:#2e7fdb
}/*立即注册*/
.oth-login{
    text-align: left;
    padding-left: 20px;
}/*其他登录方式*/
.oth-login p{
    font-size: 12px;
}/*其他登录方式*/
.oth-login img{
    width: 24px;
    height: 24px;
    margin-right: 20px;
}/*其他登录方式*/
.head{
    margin-top: 20px;
    width: 100%;
    font-size: 13px;
}/*头部*/
.LA{
    position: relative;
    width: 350px;
    height: 20px;
    float: right;
	}/*糯米 新闻 hao123...*/
a:link{color:#000000}
a:hover{color: blue}
.LA .a1{
    font-weight: bold;
    padding-right: 15px;
}
.set{
	position: relative;
	list-style-type: none;
	width:45px;
    height: 20px;
    float: right;
    }/*设置栏样式*/
.set #set1{display: none  }/*隐藏设置栏下拉框*/
.set:hover #set1{display: block}/*鼠标经过出现*/
ul#set1{
    width: 60px;
    border: 1px solid #F5F5DC;
    list-style:none;
    padding-left: 3px;
    line-height: 30px;
}/*设置栏下拉框*/
.more{
	position: relative;
	font-size: 13px;
	background-color: #009FCC;
	width: 70px;
	height: 20px;
	text-align: center;
    float: right;
  }/*更多产品*/
.more #nav1{display: none}
.more:hover #nav1{display: table}/*下拉样式table*/
div#nav1{width: 80px;
    border: 2px solid #F5F5DC;
    border-top-style: none;
    border-bottom-style: none;
    list-style-position: inside;
    height: 100%;
    position: fixed;
}
li#music {
    list-style-image: url(../img/yin.png);
    height: 20px;
}/*百度音乐*/
li#pic{
    list-style-image:url(../img/pic.png);
    height: 20px;
    margin-top: 50px;
}/*百度图片*/
li#know {
    list-style-image: url(../img/know.png);
    height: 20px;
    padding-top: 50px;
}
li#library{
    list-style-image:url(../img/library.png);
    height: 20px;
    padding-top: 50px;
}/*百度文库*/
li#top{
    list-style-image:url(../img/top.png);
    height: 20px;
    padding-top: 50px;
}/*百度风云榜*/
li#tui{
    list-style-image:url(../img/tui.png);
    height: 20px;
    padding-top: 50px;
}/*百度推广*/
li#all{
    height: 20px;
    padding-top: 50px;
}
.art{
    width: 100%;
    height: 300px;
    text-align: center;
    position: absolute;
    margin-top:110px;
}/*中间部分*/
.art #picture{
    width: 270px;
    height:110px;
    text-align: center;
}
.search{
    position: relative;
    margin-top: 65px ;
    width: 540px;
    height:35px;
    padding-left: 10px;
    font-size: 16px;
    border:1px solid #B8B8B8;
    *line-height:35px;/*for ie6-7*/
}
input:focus{
    border-color:#38F;
    outline: none;
}/*输入框获取焦点后颜色变化*/
#sousuo{
    background: url(../img/下载%20.png) no-repeat ;
    background-position: 525px 12px;
}
#sousuo:hover{
    background: url(../img/下载%20.png) no-repeat ;
    background-position: 525px -25px;
}
.button{
	position: relative;
	margin-top: 64px;
	width: 100px;
	height: 39px;
	background-color: #3385FF;
	border: 1px solid #3385FF;
    color: #ffffff;
	font-size:14px;
	cursor: pointer;
}/*搜索按钮样式*/
.button:hover{
    background-color:#4876FF;
}
.foot{
    clear: both;
    position: absolute;
    height: 140px;
    width: 100%;
    bottom:0;
}/*底部样式*/
.foot1{
    width: 76px;
    height: 76px;
    position: relative;
    display:inline-block;
    *display:inline;/*for ie6-7*/
    *zoom:1;/*for ie6-7*/
}/*手机百度二维码*/
.foot2{
    position: relative;
    display:inline-block;
    font-size: 13px;
    line-height:250%;
    color:#808080;
    *display:inline;/*for ie6-7*/
    *zoom:1;/*for ie6-7*/
}/*手机百度 快人一步*/
.foot3{
    position: relative;
    display:inline-block;
    padding-left: 20px;
    *display:inline;/*for ie6-7*/
    *zoom:1;/*for ie6-7*/
}/*糯米二维码*/
.foot4{
    position: relative;
    display: inline-block;
    font-size: 13px;
    line-height: 250%;
    color:#808080;
    *display:inline;/*for ie6-7*/
    *zoom:1;/*for ie6-7*/
}/*百度糯米 一元大餐*/
.foot5 {
    position: relative;
    display: inline-block;
    font-size: 13px;
    line-height: 200%;
    padding-left: 30px;
    text-align: left;
    color: #808080;
    *display:inline;/*for ie6-7*/
    *zoom:1;/*for ie6-7*/
}
@media only screen and ( min-width: 768px){
    .head,
    .art,
    .foot{
        width:100%;
    }
    .mobile-head,
    .mobile-art,
    .mobile-foot{
        display: none;
    }
}
@media only screen  and (min-width: 320px) and (max-width:767px) {
    .head,
    .foot{
        display: none;
    }
    .container{
        margin: 0;
        padding: 0;
       min-width:320px;
        min-height: 1000px;;
        background-color:#EDEDED;
    }
    .mobile-head{
        width: 100%;
        height: 40px;
    }/*移动版头部*/
    .mobile-head .weather{
        display: inline-block;
        float: left;
        margin-top:15px;
    }/*移动版头部-天气*/
    .mobile-head .place{
        display: inline-block;
        float: left;
        margin-left: 3px;
    }/*移动版头部-位置*/
    .mobile-head .place span{
        height: 20px;
        width: 13px;
    }
    .mobile-head .pset{
        display: inline-block;
        float: right;
        margin-top: 15px;
    }
    .art{
        margin-top: 55px;
    }/*移动版中间部分*/
    .art #picture{
        width:50%;
        height: 50%;
    }/*移动版中间部分-logo*/
    .search{
        width:70%;
        margin-top: 15px;
        background-color: #ffffff;
    }/*移动版中间部分-搜索框*/
    #sousuo {
        background: url(../img/下载%20.png) no-repeat;
        background-position: 94% 12px;
    }
    #sousuo:hover {
        background: url(../img/下载%20.png) no-repeat;
        background-position: 94% -25px;
    }
    .button{
        width: 20%;
        margin-top: 15px;
    }/*移动版中间部分-搜索按钮*/
    .mobile-art{
        width: 100%;
        margin-top: 190px;
    }
    .mobile-art div{
        display: inline-block;
        width: 10%;
        margin-left: 10px;
        color:#6E6E6E;
        font-size: 14px;
    }
    .mobile-foot{
        width: 100%;
    }/*移动版底部*/
    .mobile-foot .menuhand{
        width:100%;
        height: 50px;
        text-align: center;
        margin-top: 40px;
    }
    .active{color: #0000CC}
    .mobile-foot .attention{
        margin: 0px auto;
        width: 99%;
        color:#6E6E6E;
    }/*移动版底部-关注*/
    .mobile-foot .tb{
        background-color:#ffffff;
        border: 1px solid #F5F5F5;
        border-top: none;
        border-left: none;
        width: 98%;
        height: 200px;
        font-size: 14px;;
    }/*移动版底部-表格*/
    .mobile-foot .life{
        width: 100%;
        height: 300px;
        background-color:#ffffff;
        margin-top: 5px;
    }
    .mobile-foot .lifemenu{
        width: 100%;
        height: 220px;
        border-top: 1px solid #f5f5f5;
        border-bottom:1px solid #f5f5f5;
    }/*移动版底部-生活*/
    .lifemenu .loc{
        width:45px;
        height: 25px;
        border: 1px solid;
    }
    .servemenu{
        width: 100%;
        height: 190px;
    }
    .servemenu a{
        width: 20%;
        height: 50%;
        float: left;
        margin-top: 10px;
        margin-left:5px;
        text-decoration: none;
    }
    .servemenu img{
        margin: 9px auto;
    }
    .servemenu a div{
        float: left;
        height: 60%;
        width:90%;
        border: 0;
        border-radius: 50%;
    }
    .violet{
        background-color: #b493db;
    }
    .red{
        background-color:#ff6b70; ;
    }
    .orange{
        background-color:#ffa868; ;
    }
    .pink{
        background-color: #ff6fbf;;
    }
    .blue{
        background-color:#6f99de; ;
    }
    .gray{
        background-color:#93a4b3; ;
    }
    .down{
        width: 100%;
        height: 20px;
        text-align: center;
    }
    .mobile-foot .recommend{
        /*display: none;*/
        width: 98%;
        background-color: #ffffff;
    }
    .recommend ul{
        margin-top: 5px;
    }
    .recommend li{
        margin-top: 10px;
        text-align: left;
        list-style:none;
        margin-left:-30px;
    }
    .recommend li span{
        font-size: 12px;
    }
    .recommend li img{
        width: 30%;
        height: 80px;
        border-right: 1px solid #f5f5f5;
    }
}